<p style="color: green"><%= notice %></p>

<% content_for :title, "Books" %>

<!-- <h1>Books</h1> -->

<ul id="books" class="bookgrid">
  <% @books.each do |book| %>
    <%= link_to book_path(book) do %>
      <li>
        <%= render BookComponent.new(cover: book.cover, title: book.title, author: book.author.name) %>
      </li>
    <% end %>
  <% end %>
</ul>

<% if is_admin? %>
  <%= link_to "New book", new_book_path %>
<% end %>