header {
  display: flex;
  align-items: center;
  background-color: mistyrose;
  padding: 0.5rem;
}
/* LOGO */
header .logo {
  user-select: none;
  display: flex;
  align-items: center;
}
header .logo-text {
  color: #993333;
  font-weight: bold;
  font-size: 1.2rem;
  /* margin-left: 0.5rem; */
  line-height: 1;
}
header .logo-text-upper {
  font-size: 1.6rem;
}
header .logo img {
  height: 2.5rem;
  margin: 0.5rem;
}
/* NAVIGATION */
header nav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
header nav ul {
  display: flex;
  list-style: none;
  gap: 1rem;
  margin-left: auto;
  margin-right: 1rem;
  width: fit-content;
}
/* SEARCH */
header .search-area {
  height: fit-content;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2rem;
  padding: 0.3rem;
  transition: all 0.2s;
  cursor: pointer;
  margin-left: auto;
}
header .search-area:hover {
  background-color: rgba(0, 0, 0, 0.126);
}
header .search-area img {
  width: 2.5rem;
  aspect-ratio: 1/1;
}